{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg p-4">
                <h3 class="card-title text-center mb-4">Login</h3>
                
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger small">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                 <div class="mt-4 d-flex justify-content-between">
    <div>
        <small>Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a></small>
    </div>
    <div>
        <small>New user? <a href="{% url 'register' %}">Register here</a></small>
    </div>
</div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
